#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
  margin:0 auto;
}

.input-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:30%;
}

.login {
  border-radius: 10px;
  background-color: #03D47C;
  padding: 10px;
  color: white;
  font-weight: bold;
  width: 50%;
  margin:0 auto;
}

.login-img{
  height: auto;
  max-width: 15%;
  display: block;
}  

::placeholder {
  color: #757575;
  font-weight: bold;
}

.span-text {
  color: red;
  background-color: #fcf8e3;
  border-color: #faebcc;
  display: block;
  padding: 5px 0 15px;
}

.hide {
  display: none!important;
}

.form-class {
  min-height: 35vh;
}

#auth-error {
  color: red;
  display: none;
}

.footer-img {
  height: 50%;
  width: 50%;
  position: absolute;
  left: 55%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
}

.change-colours { 
  -webkit-animation: bgcolorchange 4s infinite; /* Chrome, Safari, Opera */ 
  animation: 10s infinite bgcolorchange;
}
@keyframes bgcolorchange {
  25% {
    background-color: #F58CFD;
  }
  50% {
    background-color: #0184FE;
  }
  75% {
    background-color: #03D37C;
  }
  100% {
    background-color: #FEF9EF;
  }
}
/* Chrome, Safari, Opera */
 @-webkit-keyframes bgcolorchange {
      25%   {background: #F58CFD;}
      50%  {background: #0184FE;}
      75%  {background: #03D37C;}
      100% {background: #FEF9EF;}
 }

