#tablecontainer {
  display: none;
  text-align: center;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 75%;
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

table td {
  border: solid 1px #666;
  width: 110px;
  word-wrap: break-word;
}

table tr:first-child {
  border-top: none;
  background: #428bca;
  color: #fff;  
}

table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

table tr:nth-child(odd):not(:first-child) {
  background-color: #ebf3f9;
}

table th {
  display: none;
}

table td {
  display: block;
}

table td:first-child {
  margin-top: .5em;
}

table td:last-child {
  margin-bottom: .5em;
}

table td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
}

#new-transact{
  display: none;
}

.search-class {
  border-radius: 4px; 
  border: 1px solid lightgrey;
  max-width: 400px;
  padding: 10px 10px 10px 30px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 22 22' %3E%3Cpath d='M14.92 14.07l6.04 6.04c.23.24.23.62 0 .86-.24.23-.62.23-.85 0l-6.03-6.04C12.57 16.22 10.63 17 8.5 17 3.8 17 0 13.2 0 8.5S3.8 0 8.5 0 17 3.8 17 8.5c0 2.13-.78 4.08-2.08 5.57zM8.5 16c4.14 0 7.5-3.36 7.5-7.5C16 4.36 12.64 1 8.5 1 4.36 1 1 4.36 1 8.5 1 12.64 4.36 16 8.5 16z' fill='red' /%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 8px center;
      background-size: 1.675em;
  color: white;
}

#pointer-one, #pointer-two, #pointer-three {
  cursor: pointer;
}
#pointer-one::after, #pointer-two::after, #pointer-three::after {
  content: attr(title);
}

table th,
table td {
  text-align: left;
}

table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
  float: right;
}

table tr {
  border-color: #bfbfbf;
}

table th,
table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  table tr:hover:not(:first-child) {
    background-color: #d8e7f3;
  }
  table td:before {
    display: none;
  }
  table th,
  table td {
    display: table-cell;
    padding: .25em .5em;
  }
  table th:first-child,
  table td:first-child {
    padding-left: 0;
  }
  table th:last-child,
  table td:last-child {
    padding-right: 0;
  }
  table th,
  table td {
    padding: 1em !important;
  }
}

@-webkit-keyframes leftRight {
  0%    { -webkit-transform: translateX(0)}
  25%   { -webkit-transform: translateX(-10px)}
  75%   { -webkit-transform: translateX(10px)}
  100%  { -webkit-transform: translateX(0)}
}
@keyframes leftRight {
  0%    { transform: translateX(0)}
  25%   { transform: translateX(-10px)}
  75%   { transform: translateX(10px)}
  100%  { transform: translateX(0)}
}
